.metadata/
RemoteSystemsTempFiles/
jumptrack/oem/JumpTrack/gen
jumptrack/oem/Karmak/gen

*.iml
.gradle
.idea
app/release
app/debug
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/.idea
/build
/captures
/jumpTrack/build
/jumpTrack/captures
/jumpTrack/*.iml
/jumpPOD/build
/jumpPOD/captures
/jumpPOD/*.iml
/deliverIt/build
/deliverIt/captures
/deliverIt/*.iml
*/gradle/
zxing-android/build
zxing-android/captures
test_servers/*
keystore.properties
google-services.json
jumpPOD/release/*
jumpPOD/deliverIt/release/*
*.apk
