<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jumptech.jumppod">

    <!-- For server communication -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- For Hardware scanner usage, save config file -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- For scanning -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- For determining if app is in foreground -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <supports-screens android:anyDensity="true" />

    <!-- Set features not required by device -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature android:name="android.hardware.screen.portrait" />
    <uses-feature android:name="android.hardware.screen.landscape" />

    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:required="false" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:required="false" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="JumpTrack"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:name="com.jumptech.tracklib.utils.scan.integrator.ZxingClientApp"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icon_white" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/color_accent" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id"/>

        <service
            android:name="com.jumptech.fcm.JTFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="com.jumptech.ui.LauncherActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App.Starting"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jumptech.ui.DeliveryActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/invoicedetail" >
        </activity>
        <activity
            android:name="com.jumptech.ui.FeedbackActivity"
            android:label="@string/settings" >
        </activity>
        <activity
            android:name="com.jumptech.ui.GdrActivity"
            android:label="@string/routeList"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.jumptech.ui.LineActivity"
            android:label="@string/itemDetailLabel"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.jumptech.ui.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/login"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.jumptech.ui.NewCustomerActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/newcustomerinfo"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.jumptech.ui.ProductSearchActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/addItemLabel" >
        </activity>
        <activity
            android:name="com.jumptech.ui.RouteActivity"
            android:label="@string/selectstop"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.jumptech.ui.SignatureImageActivity"
            android:label="@string/signatureProcess"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.jumptech.ui.SignatureNameActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/signatureName"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape" >
        </activity>
        <activity android:name="com.jumptech.ui.SignaturePhotoActivity" >
        </activity>
        <activity
            android:name="com.jumptech.ui.StopActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/selectinvoice"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.jumptech.ui.StopSortActivity"
            android:label="@string/editLocList"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.jumptech.ui.SupportActivity"
            android:label="@string/support"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.jumptech.ui.EulaActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="com.jumptech.ui.ContinuousCaptureActivity"
            android:screenOrientation="landscape" >
        </activity>

        <service android:name="com.jumptech.tracklib.data.DataService" />

        <meta-data
            android:name="com.socketmobile.capture.APP_KEY"
            android:value="@string/socket_mobile_app_key" />
        <meta-data
            android:name="com.socketmobile.capture.DEVELOPER_ID"
            android:value="@string/socket_mobile_developer_id" />

    </application>

</manifest>